.footer-custom {
  background-color: #343a40; /* Dark background color */
  color: #ffffff; /* White text color */
}

.footer-custom p {
  margin: 0;
}

.footer-custom .footer-link {
  color: #ffffff;
  text-decoration: none;
}

.footer-custom .footer-link:hover {
  color: #adb5bd; /* Light grey on hover */
  text-decoration: underline;
}

.footer-custom .footer-icon {
  color: #ffffff;
  margin: 0 10px;
  font-size: 1.5rem;
}

.footer-custom .footer-icon:hover {
  color: #adb5bd; /* Light grey on hover */
}

@media (max-width: 768px) {
  .footer-custom .footer-icon {
    font-size: 1.25rem;
    margin: 0 5px;
  }
}
