.introduction-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #b1e6bd;
  color: #b1e6bd;
  padding: 20px;
}

.profile-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 5px solid #e68f0c;
}

.introduction-section h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffffff;
}

.introduction-section p {
  font-size: 1.25rem;
  color: #ffffff;
}

@media (max-width: 768px) {
  .introduction-section h2 {
    font-size: 2rem;
  }

  .introduction-section p {
    font-size: 1rem;
  }
}
